.home {
    padding: 20px 40px;
    background-color: #f4ede1;
}

/* media queries */
@media (max-width: 480px) {
    .home {
        padding: 10px;
    }
}

@media (max-width: 960px) {
    .home {
        padding: 20px;
    }
}